*{
  margin-top: 20px;
}
body{
  font-family: Verdana;
  font-weight: normal;
  text-align: center;

  background-color: black;
  color: white;

}

h2{
  font-weight: 300;
  font-size: 42px;
}

header h1{
  font-size: 50px;
}

a{
  font-size: 16px;

  color: aquamarine;
}

p{
  font-size: 21px;

  color: grey;
}

.right{
  text-align: right;
}
